<template>
  <q-page class="window-width">
    <div class="column items-center q-pa-md">
      <q-input borderless v-model="text" placeholder="Buscar por Tracking / Warehouse" dense style="font-size:15px;width:100%" class="box-shadow-search my-font-semibold"
        label-color="primary" @keyup.enter="rastrearEnvio"
      >
        <template v-slot:append>
          <q-icon name="search" color="secondary" @click="rastrearEnvio()" />
        </template>
      </q-input>
    </div>
    <div class="full-width q-mb-sm" v-if="ads">
      <q-carousel v-if="ads.length > 1" v-model="adsModel" animated arrows infinite style="height:18vh" class="no-border-radius q-mb-md" >
        <q-carousel-slide v-for="(img, index) in ads" :key="index" :name="index" :img-src="img.url" style="border-radius:10px" class="no-border-radius" />
      </q-carousel>
      <q-img v-else :src="ads[0].url" class="full-width q-mb-sm" style="height:18vh" />
    </div>

    <div class="column items-center justify-center q-mt-sm">
      <div class="row items-center q-gutter-md justify-center full-height" style="width:90%">
        <q-card class="items-option column items-center justify-center box-shadow-card" v-for="(item, index) in items" :key="index" v-ripple clickable
          @click="$router.push(item.to)"
        >
          <div class="badge-style-s row justify-center items-center" v-if="item.to === 'envios' && count_shippings > 0 || item.to === 'paqueteria' && count_package">
            {{item.to === 'paqueteria' ? count_package : count_shippings}}
          </div>
          <img :src="item.img" style="width:70px;height:70px;padding-top:5px" />
          <div class="text-primary titles-font text-bold text-uppercase q-mt-sm"> {{item.title}} </div>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="alert">
      <q-card class="my-font-regular">
        <q-card-section>
          <div class="text-h6 text-bold text-uppercase my-font-extra-bold">¡Atención!</div>
        </q-card-section>

        <q-card-section class="q-pt-none color-siete" style="font-size:16px">
          No existe un paquete registrado con ese código. Por favor intente nuevamente con otro valor.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dEnvio" :maximized="true" transition-show="slide-up" transition-hide="slide-down">
      <q-layout view="Lhh lpR fff" container class="bg-white">
        <q-header class="bg-secondary">
          <q-toolbar>
            <q-btn icon="arrow_back" color="primary" flat round dense v-close-popup />
            <q-toolbar-title class="text-primary titles-font text-uppercase">
              ubicación
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page>
            <q-scroll-area style="height:35vh;width:100%" v-if="detailEnvio">
              <div class="column text-center text-primary" style="padding-top:7px">
                <div class="column q-pt-sm">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary">Tracking</div>
                  <div class="text-uppercase my-font-semibold text-subtitle1" style="line-height:10px"> {{detailEnvio.tracking}} </div>
                </div>

                <div class="column q-pt-md">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary q-px-xl" style="line-height:20px">fecha de ingreso en almacén</div>
                  <div class="text-uppercase my-font-semibold text-subtitle1 q-pt-xs" style="line-height:auto"> {{detailEnvio.date}} </div>
                </div>

                <div class="column q-pt-md">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary q-px-xl" style="line-height:20px">contenido</div>
                  <div class="my-font-semibold text-subtitle1 q-pt-xs q-px-xl" style="line-height:20px"> {{detailEnvio.description}} </div>
                </div>

                <div class="column q-pt-md q-pb-md">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary q-px-xl" style="line-height:20px">estatus</div>
                  <div class="text-uppercase my-font-semibold text-subtitle1 q-pt-xs" style="line-height:auto"> {{detailEnvio.status}} </div>
                </div>
              </div>
            </q-scroll-area>
            <q-card class="bg-secondary text-white">
              <q-card-section style="padding: 0px !important;height:60vh">
                <google-map :center="center" style="height: 100%; width:100%" />
              </q-card-section>
            </q-card>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
  </q-page>
</template>

<script>
import GoogleMap from '../components/GoogleMapView.vue'
export default {
  components: {
    GoogleMap
  },
  name: 'PageIndex',
  data () {
    return {
      alert: false,
      center: { lat: 10, lng: 10 },
      detailEnvio: null,
      dEnvio: false,
      adsModel: 1,
      ads: [],
      text: '', // trackin de ejemplo para prueba UENYUAVUDBOCNOPNODNOCN
      items: [
        {
          title: 'Pre-Alertas',
          to: 'prealertas',
          img: 'iconos/noti_acept.svg'
        },
        { title: 'Almacén', img: 'iconos/warehouse-2.svg', to: 'paqueteria' },
        { title: 'Instrucciones', img: 'iconos/instrucciones.svg', to: 'instrucciones' },
        { title: 'Envíos', img: 'iconos/package1.svg', to: 'envios' },
        { title: 'Calculadora', img: 'iconos/calculadora.svg', to: 'calculadora' },
        { title: 'Contacto', img: 'iconos/contacto.svg', to: 'contacto' }
      ],
      params: {
      },
      count_package: 0,
      count_shippings: 0
    }
  },
  mounted () {
    this.getAds()
  },
  methods: {
    async getAds () {
      const res = await this.$api.get('banner')
      if (res.data && res.data.length > 0) {
        this.ads = res.data
      } else {
        this.ads = [
          {
            url: 'test/slide3.jpg'
          }
        ]
      }
      // console.log(res.count_package, res.count_shippings, 'res banner')
      this.count_package = res.count_package
      this.count_shippings = res.count_shippings
    },
    async rastrearEnvio () {
      if (this.text) {
        this.$q.loading.show()
        await this.$api.get('tracking/' + this.text).then(res => {
          this.$q.loading.hide()
          console.log(res, 'resssss')
          if (!res.error) {
            const data = res.data[0]
            this.center.lat = parseFloat(data.latitude)
            this.center.lng = parseFloat(data.longitude)
            this.detailEnvio = data
            console.log(this.center, 'center')
            this.dEnvio = true
          } else {
            this.alert = true
            /* this.$q.dialog({
              title: '¡Atención!',
              message: 'No existe un paquete registrado con ese código. Por favor intente nuevamente con otro valor.',
              persistent: true,
              class: 'my-font-regular',
              contentStyle: "{ font-size: '50px' }"
            }).onOk(() => {
            }).onCancel(() => {
              // console.log('>>>> Cancel')
            }).onDismiss(() => {
              // console.log('I am triggered on both OK and Cancel')
            }) */
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.items-option {
  width: 45%;
  max-width: 150px;
  height: 140px;
  border-radius: 12px;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
}

.badge-style-s {
  position:absolute;
  top: 10px;
  right:10px;
  z-index:1;
  height:20px;
  font-size: 10px;
  color: white;
  width:20px;
  background-color: $red;
  border-radius: 100% !important;
}
</style>
