<template>
  <q-page>
    <div class="column window-width q-mt-sm">
      <q-card class="q-ma-md q-pa-md no-shadow box-shadow-card" style="border-radius:10px">
        <div class="text-center titles-font" style="font-size:16px">TIPO DE ENVÍO</div>
        <div class="row q-mt-md justify-center full-width">
          <div class="column" @click="modelEnvio = 1">
            <div :class="modelEnvio != 1 ? 'caja' : 'caja-seleccionada'">
              <q-img :src="modelEnvio != 1 ? 'ship-blue.svg' : 'ship-light.svg'" />
            </div>
            <div class="q-mt-xs text-center my-font-semibold text-uppercase color-label">Marítimo</div>
          </div>
          <div class="column q-ml-xl" @click="modelEnvio = 2">
            <div :class="modelEnvio != 2 ? 'caja' : 'caja-seleccionada'">
              <q-img :src="modelEnvio != 2 ? 'airplane-blue.svg' : 'airplane-light.svg'" />
            </div>
            <div class="q-mt-xs text-center my-font-semibold text-uppercase color-label">Aéreo</div>
          </div>
        </div>
        <div class="q-mt-lg text-center titles-font" style="font-size:16px">SELECCIONE EL DESTINO</div>
        <q-select class="q-pa-sm spacing-letter my-font-regular" outlined v-model="form.destiner_id" label="Destino" dense style="width:100%"
          :options="destino" option-label="name" option-value="id" emit-value map-options
          :error="$v.form.destiner_id.$error" @blur="$v.form.destiner_id.$touch()"
        >
          <template v-slot:option="scope">
            <q-item
              v-bind="scope.itemProps"
              v-on="scope.itemEvents"
              >
              <q-item-section>
                <q-item-label class="my-font-regular" v-html="scope.opt.name" />
              </q-item-section>
            </q-item>
          </template>
          <template v-slot:selected-item="scope">
            <div class="text-black">{{scope.opt.name}}</div>
          </template>
        </q-select>
      </q-card>

      <q-card class="q-ma-md q-pa-md no-shadow box-shadow-card" style="border-radius:10px;margin-top:2px !important">
        <div class="row items-end">
          <div class="text-left titles-font text-uppercase" style="font-size:16px">Dimensiones</div>
          <div class="text-left my-font-regular color-labelT text-uppercase  q-ml-sm" style="font-size:14px">pulgadas</div>
        </div>

        <div class="row justify-between items-center full-width q-pa-sm q-mt-md">
          <div class="col-3 q-ml-xs q-mr-xs">
            <q-input v-model="form.width" dense label="Ancho" outlined type="number" class="my-font-semibold"
              :error="$v.form.width.$error" @blur="$v.form.width.$touch()" :input-style="{ color: 'black' }"
            />
          </div>
          <div class="my-font-semibold q-mb-sm"> X </div>
          <div class="col-3 q-ml-xs q-mr-xs">
            <q-input v-model="form.lenght" dense label="Largo" outlined type="number" class="my-font-semibold"
              :error="$v.form.lenght.$error" @blur="$v.form.lenght.$touch()" :input-style="{ color: 'black' }"
            />
          </div>
          <div class="my-font-semibold q-mb-sm"> X </div>
          <div class="col-3 q-ml-xs q-mr-xs">
            <q-input v-model="form.height" dense label="Alto" outlined type="number" class="my-font-semibold"
              :error="$v.form.height.$error" @blur="$v.form.height.$touch()" :input-style="{ color: 'black' }"
            />
          </div>
          <div class="col-3 q-ml-xs q-mr-xs q-mt-sm">
            <q-input v-model="form.weight" dense label="Peso" outlined type="number" class="my-font-semibold"
              :error="$v.form.weight.$error" @blur="$v.form.weight.$touch()" :input-style="{ color: 'black' }"
            />
          </div>
        </div>

        <div class=" q-mt-md titles-font text-uppercase" style="font-size:16px">¿Desea Reempaque?</div>
        <div class="q-mt-sm my-font-semibold">
          <q-radio v-model="form.reemp" val="1" label="Si" color="secondary" />
          <q-radio v-model="form.reemp" val="0" label="No" color="secondary" class="q-ml-md" />
        </div>

        <div class="row justify-center q-mt-lg titles-font">
          <q-btn color="secondary" text-color="primary" label="Calcular" push style="height:50px;width:150px" @click="calculate()" />
        </div>
      </q-card>

      <q-dialog v-model="alert" class="window-width" >
        <q-card class="my-font-regular window-width">
          <q-card-section>
            <div class="text-h6 text-bold text-uppercase my-font-extra-bold">COSTO DE ENVÍO</div>
          </q-card-section>

          <q-card-section class="q-pt-none color-siete" style="font-size:16px">
            {{message}}
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="OK" color="primary" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <!-- <div class="row items-center justify-start q-pl-sm q-mt-md" style="width:100%">
        <div>Medidas</div>
        <q-toggle v-model="toggle" color="secondary" />
      </div> -->

    </div>
  </q-page>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      alert: false,
      message: 'Costo del Envio',
      form: {
        reemp: '0'
      },
      tiposEnvio: [{ value: 1, select: false }, { value: 2, select: false }],
      modelEnvio: 1,
      destino: [],
      toggle: true,
      repackage: '0'
    }
  },
  validations () {
    return {
      form: {
        destiner_id: { required },
        height: { required },
        lenght: { required },
        width: { required },
        weight: { required },
        reemp: { required }
      },
      modelEnvio: { required }
    }
  },
  mounted () {
    this.getDestinos()
  },
  methods: {
    async calculate () {
      this.$v.$touch()
      if (!this.$v.form.$error && !this.$v.modelEnvio.$error) {
        var form = { ...this.form }
        form.trip_id = this.modelEnvio.toString()
        console.log(form, 'form')
        this.$q.loading.show()
        await this.$api.post('shipCost', form).then(res => {
          this.$q.loading.hide()
          this.message = res.message
          this.alert = true
          /* this.$q.dialog({
            title: 'COSTO DE ENVIO',
            message: res.message,
            persistent: true,
            class: 'my-font-regular'
          }).onOk(() => {
          }).onCancel(() => {
            // console.log('>>>> Cancel')
          }).onDismiss(() => {
            // console.log('I am triggered on both OK and Cancel')
          }) */
        })
      }
    },
    async getDestinos () {
      this.$q.loading.show()
      const res = await this.$api.get('destiner')
      this.$q.loading.hide()
      if (res) {
        this.destino = res
      }
      console.log(res)
    }
  }
}
</script>

<style scoped lang="scss">
.caja {
  border-radius: 10px;
  border: 4px solid $primary;
  padding: 10px;
  width: 100px;
  height: 100px;
}

.caja-seleccionada {
  border-radius: 10px;
  border: 3px solid $primary;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: $primary;
}

.color-label {
  color: #777777 !important;
}

.color-labelT {
  color: #AAAAAA !important;
}

.spacing-letter {
  letter-spacing:-1px;
}
</style>
