<template>
  <q-page>
    <q-img :src="form.url" width="100%" height="250px" >
      <div class="absolute-bottom text-center my-font-semibold" style="font-size:18px;background-color:rgba(0, 0, 0, 0.3);">
        WH-{{form.ware_house}}
      </div>
    </q-img>
    <div class="q-pa-sm q-ma-sm bordes-d my-font-semibold">
      <div class="row">
        <div class="column col-5">
          <div>Fecha de ingreso:</div>
          <div class="my-font-regular"> {{form.date_in}} </div>
        </div>
        <q-separator vertical class="q-ml-sm" />
        <div class="column q-ml-xs col-5 q-ml-sm">
          <div>Cantidad de piezas:</div>
          <div class="my-font-regular"> {{form.nro_pieces}} </div>
        </div>
      </div>
      <q-separator class="q-mt-sm" />
      <div class="column q-mt-sm">
        <div>Descripción:</div>
        <div class="my-font-regular text-uppercase"> {{form.description}} </div>
      </div>
      <q-separator class="q-mt-sm" />
      <div class="column q-mt-sm">
        <div>Tracking:</div>
        <div class="my-font-regular text-uppercase"> {{form.tracking}} </div>
      </div>
    </div>

    <div class="q-pa-sm q-ma-sm bordes-d my-font-semibold">
      <div class="column">
        <div>Medidas (pulgadas):</div>
        <div class="my-font-regular">
          {{form.long}}" X {{form.width}}" X {{form.high}}"
        </div>
      </div>
      <q-separator class="q-mt-sm" />
      <div class="row">
        <div class="column q-mt-sm col-5">
          <div>Pie cúbico:</div>
          <div class="my-font-regular"> {{form.pie3}} </div>
        </div>
        <q-separator vertical class="q-ml-sm q-mt-sm" />
        <div class="column q-mt-sm col-5 q-ml-sm">
          <div>Volumen lb:</div>
          <div class="my-font-regular"> {{form.volumen_lb}} </div>
        </div>
      </div>
      <q-separator class="q-mt-sm" />
      <div class="row">
        <div class="column q-mt-sm col-5">
          <div>Peso lb:</div>
          <div class="my-font-regular"> {{form.weight}} </div>
        </div>
      </div>
    </div>

    <div style="height:300px; width: 96%">
      <google-map class="q-ma-sm" :center="center" />
    </div>

  </q-page>
</template>

<script>
import GoogleMap from '../../components/GoogleMapView'
import { FormMixin } from '../../mixins/Form'
import { date } from 'quasar'
export default {
  mixins: [FormMixin],
  components: {
    GoogleMap
  },
  data () {
    return {
      form: {},
      route: 'packages',
      id: this.$route.params.id,
      center: { lat: 10, lng: 10 }
    }
  },
  methods: {
    afterMounted () {
      console.log(this.form, 'form after mounted')
      this.center.lat = parseFloat(this.form.latitude)
      this.center.lng = parseFloat(this.form.longitude)
      // this.formatDate()
    },
    formatDate () {
      if (this.form.date_in) {
        const formatDate = date.formatDate(this.form.date_in, 'MM-DD-YYYY')
        this.form.date_in = formatDate
      }
    }
  }
}
</script>

<style scoped>
.bordes-d {
 border: 1px solid #d1d1cf;
 border-radius: 12px;
}
</style>
