<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  mounted () {
    var vm = this
    document.addEventListener('backbutton', function (e) {
      // alert(`se presiono el boton atras prueba 2 ${vm.$route.path}`)
      e.preventDefault()
      if (vm.$route.path === '/index' || vm.$route.path === '/login') {
        // alert('index o login')
        navigator.app.exitApp()
      } else {
        // alert('me voy para atras en la app')
        // navigator.app.backHistory()
        // vm.$router.go(-1)
        this.$q.loading.hide()
      }
      /* if (this.$route.path === '/login') {
        alert('es login')
        navigator.app.backHistory()
      } else {
        alert('no es login')
        e.preventDefault()
        navigator.app.exitApp()
      } */
    }, false)
    this.comprobarToken()
    this.fbPlug()
    this.getDeviceToken()
  },
  methods: {
    fbPlug () {
      if (this.$q.platform.is.mobile) {
        var customChannel = {
          id: 'general_channel',
          name: 'General',
          sound: 'blackberry',
          vibration: [300, 200, 300],
          light: true,
          lightColor: '0xFF0000FF',
          importance: 4,
          badge: true,
          visibility: 1
        }
        FirebasePlugin.createChannel(customChannel,
          function () {
            // alert('customChannel created: ' + customChannel.id)
          },
          function (error) {
            console.log('Create channel error: ' + error)
          }
        )
      }
    },
    async comprobarToken () {
      console.log('comprobando token')
      const value = JSON.parse(this.$q.localStorage.getItem('CUR_SESSION_INFO'))
      if (value) {
        await this.$api.get('isValid/' + value.api_token).then(res => {
          console.log(res.success, 'resss')
          if (res.success) {
            this.$router.push('index')
          } else {
            this.$router.push('login')
          }
        })
      }
    },
    async getDeviceToken () {
      var vm = this
      FirebasePlugin.getToken(function (token) {
        vm.form.deviceToken = token
        // alert('Got FCM token: ' + token)
        if (token === null) {
          vm.getDeviceToken()
        } else {
          // alert(token)
          vm.$q.localStorage.set('dT', token)
        }
      }, function (error) {
        vm.getDeviceToken()
        console.log('Failed to get FCM token', error)
      })
    }
  }
  /* ,
  watch: {
    $route (to, from) {
      console.log(to, from, 'routeeeeeeeeeee')
    }
  } */
}
</script>
