<template>
  <div class="column full-width items-center">
    <q-input outlined dense v-model="data.user" label="Nombre de usuario" class="full-width"
      :error="$v.data.user.$error" @blur="$v.data.user.$touch()"
    />
    <q-input outlined dense v-model="pass" :type="isPwd ? 'password' : 'text'" label="Contraseña" class="full-width"
      :error="$v.pass.$error" @blur="$v.pass.$touch()"
    >
      <template v-slot:append>
        <q-icon :name="isPwd ? 'visibility' : 'visibility_off'" class="cursor-pointer" color="primary" @click="isPwd = !isPwd" />
      </template>
    </q-input>
    <q-input outlined dense :type="isPwd ? 'password' : 'text'" v-model="repeatPass" label="Repita su contraseña" class="full-width"
     :error="$v.repeatPass.$error" @blur="$v.repeatPass.$touch()"
    >
      <template v-slot:append>
        <q-icon :name="isPwd ? 'visibility' : 'visibility_off'" class="cursor-pointer" color="primary" @click="isPwd = !isPwd" />
      </template>
    </q-input>
    <q-input outlined dense v-model="data.email" label="Correo electrónico" class="full-width" type="email"
      :error="$v.data.email.$error" @blur="$v.data.email.$touch()"
    />
    <q-input outlined dense v-model="data.name" label="Nombre" class="full-width"
      :error="$v.data.name.$error" @blur="$v.data.name.$touch()" @input="upper(data.name, data.last_name)"
    />
    <q-input outlined dense v-model="data.last_name" label="Apellido" class="full-width"
      :error="$v.data.last_name.$error" @blur="$v.data.last_name.$touch()" @input="upper(data.name, data.last_name)"
    />
    <q-input outlined dense v-model.number="data.dni" label="Cédula" class="full-width" type="number"
      :error="$v.data.dni.$error" @blur="$v.data.dni.$touch()"
    />
    <q-input outlined dense v-model.number="data.phone" label="Teléfono" class="full-width" type="tel"
      :error="$v.data.phone.$error" @blur="$v.data.phone.$touch()"
    />
    <div class="row justify-end full-width titles-font">
      <q-btn label="siguiente" color="secondary" text-color="primary" push @click="next()" />
    </div>
  </div>
</template>

<script>
import { required, email, maxLength, minLength, sameAs } from 'vuelidate/lib/validators'
export default {
  props: ['form'],
  data () {
    return {
      data: {
        name: '',
        last_name: ''
      },
      isPwd: true,
      pass: '',
      repeatPass: ''
    }
  },
  validations () {
    return {
      data: {
        name: { required, maxLength: maxLength(40) },
        last_name: { required, maxLength: maxLength(40) },
        email: { required, email },
        user: { required, maxLength: maxLength(40) },
        dni: { required, maxLength: maxLength(40) },
        phone: { required, maxLength: maxLength(40) }
      },
      repeatPass: { sameAsPassword: sameAs('pass') },
      pass: { required, maxLength: maxLength(256), minLength: minLength(6) }
    }
  },
  methods: {
    upper (name, last) {
      this.data.name = name.toUpperCase()
      this.data.last_name = last.toUpperCase()
    },
    next () {
      this.$v.$touch()
      if (!this.$v.data.$error && !this.$v.pass.$error && !this.$v.repeatPass.$error) {
        this.data.password = this.pass

        this.$emit('next', this.data)
      }
    }
  }
}
</script>
