<template>
  <q-page>
    <div class="column q-pa-md q-pt-xl full-width items-center">
      <q-input outlined dense v-model="data.username" label="Nombre de usuario" class="full-width"
        :error="$v.data.username.$error" @blur="$v.data.username.$touch()"
      />
      <q-input outlined dense v-model="data.email" label="Correo electrónico" class="full-width" type="email"
        :error="$v.data.email.$error" @blur="$v.data.email.$touch()"
      />
      <q-input outlined dense v-model="data.name" label="Nombre" class="full-width"
        :error="$v.data.name.$error" @blur="$v.data.name.$touch()" @input="upper(data.name, data.last_name)"
      />
      <q-input outlined dense v-model="data.last_name" label="Apellido" class="full-width"
        :error="$v.data.last_name.$error" @blur="$v.data.last_name.$touch()" @input="upper(data.name, data.last_name)"
      />
      <q-input outlined dense v-model.number="data.dni" label="Cédula" class="full-width" type="number"
        :error="$v.data.dni.$error" @blur="$v.data.dni.$touch()"
      />
      <q-input outlined dense v-model.number="data.phone" label="Teléfono" class="full-width" type="tel"
        :error="$v.data.phone.$error" @blur="$v.data.phone.$touch()"
      />
      <div class="row justify-center full-width titles-font">
        <q-btn label="guardar" style="width:200px" color="secondary" text-color="primary" push @click="changeDP()" />
      </div>
  </div>
  </q-page>
</template>

<script>
import { required, email, maxLength } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      data: {}
    }
  },
  validations () {
    return {
      data: {
        name: { required, maxLength: maxLength(40) },
        last_name: { required, maxLength: maxLength(40) },
        email: { required, email },
        username: { required, maxLength: maxLength(40) },
        dni: { required, maxLength: maxLength(40) },
        phone: { required, maxLength: maxLength(40) }
      }
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    upper (name, last) {
      this.data.name = name.toUpperCase()
      this.data.last_name = last.toUpperCase()
    },
    async changeDP () {
      console.log(this.data, 'data save')
      const dni = this.data.dni.toString()
      const phone = this.data.phone.toString()
      this.data.dni = dni
      this.data.phone = phone
      this.$v.$touch()
      if (!this.$v.data.$error) {
        this.$q.loading.show()
        await this.$api.patch('user/update', this.data).then(res => {
          this.$q.loading.hide()
          if (res.error) {
            this.$q.notify({
              message: res.message,
              color: 'negative'
            })
          } else if (res.success) {
            this.$q.notify({
              message: res.message,
              color: 'positive'
            })
          }
        })
      }
    },
    async getData () {
      if (!this.$v.data.$error) {
        this.$q.loading.show()
        await this.$api.get('user/edit').then(res => {
          this.$q.loading.hide()
          console.log(res, 'ressss data')
          this.data = res.user
          /* if (res.error) {
            this.$q.notify({
              message: res.message,
              color: 'negative'
            })
          } else if (res.success) {
            this.$q.notify({
              message: res.message,
              color: 'positive'
            })
          } */
        })
      }
    }

  }
}
</script>

<style>

</style>
