<template>
  <q-page class="sin-padding-margin">
    <div class="q-pa-md q-pt-xl column items-center">
      <q-avatar color="primary" text-color="white" size="100px">{{form.name[0]}}</q-avatar>
      <div class="titles-font q-mt-sm"> {{form.name}} </div>
      <div class="my-font-regular"> {{form.email}} </div>
      <div class="my-font-regular text-bold"> {{form.code ? form.code + ' - ' : form.code}} </div>
    </div>
    <q-card class="q-mx-md box-shadow-card-listados" style="border-radius:10px">
      <q-list flat>
        <q-item clickable v-ripple @click="$router.push($route.path + '/datos_personales')">
          <q-item-section>Datos personales</q-item-section>
          <q-item-section avatar>
            <q-icon name="arrow_forward_ios" />
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable v-ripple @click="$router.push($route.path + '/cambiar_pass')">
          <q-item-section>Cambiar contraseña</q-item-section>
          <q-item-section avatar>
            <q-icon name="arrow_forward_ios" />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <div class="q-ma-md q-mt-lg row">
      <div> Dirección actual de entrega: </div>
      <q-btn rounded label="cambiar" no-caps color="secondary" dense size="sm" class="q-px-sm q-ml-xs" @click="changeDir()" />
    </div>
    <div v-if="dir" class="q-ma-md" style="padding: 0px !important;height:400px">
      <div class="q-gutter-sm">
        <q-select outlined v-model="state" :options="optionsState" label="Estado" option-label="name" option-value="id" map-options emit-value dense
          @input="getCities()"
        />
        <q-select outlined v-model="city" :options="optionsCities" label="Ciudad" option-label="name" option-value="id" map-options emit-value dense />
        <q-input outlined v-model="address" label="Dirección de entrega" dense />
      </div>
      <div class="row justify-end">
        <q-btn label="guardar" color="secondary" class="q-mt-md titles-font" text-color="primary" @click="saveDir()" />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      city: null,
      state: null,
      address: null,
      optionsCities: [],
      optionsState: [],
      prin: true,
      data: {
      },
      center: { lat: 10, lng: 10 },
      dir: false,
      form: {
        name: ''
      }
    }
  },
  computed: {
    formN () {
      console.log(this.form, 'form')
      if (this.form.name) {
        return true
      } else { return false }
    }
  },
  mounted () {
    this.getUserInfo()
  },
  methods: {
    async saveDir () {
      this.$q.loading.show()
      const form = {
        state_id: this.state.toString(),
        city_id: this.city.toString(),
        address: this.address
      }
      const res = await this.$api.patch('user/updateAddress', form)
      // this.changeDir()
      this.$q.loading.hide()
      console.log(res, 'estados')
      if (res.success) {
        this.address = res.address
        this.$q.notify({
          message: res.message,
          color: 'positive'
        })
      }
    },
    async getUserInfo () {
      this.$q.loading.show()
      const res = await this.$api.get('user/show')
      this.$q.loading.hide()
      if (res.success) {
        console.log(res, 'getUserInfo')
        this.form.name = res.user.name + ' ' + res.user.last_name
        this.form.email = res.user.email
        this.form.city = res.user.address[0].cities_id
        this.form.state = res.user.address[0].states_id
        this.form.address = res.user.address[0].address
        this.form.code = res.user.code
        // this.data.city = res.user.address[0].cities_id
        console.log(this.form, 'form')
      }
    },
    async changeDir () {
      this.dir = !this.dir
      if (this.dir) {
        await this.getUserInfo()
        await this.getStates()
        await this.getCities()
      } else {
        this.state = null
        this.city = null
        this.address = null
        this.prin = true
      }
    },
    async getStates () {
      this.$q.loading.show()
      const states = await this.$api.get('states')
      this.$q.loading.hide()
      console.log(states, 'estados')
      if (states.success) {
        this.optionsState = states.states.map(v => {
          return {
            ...v,
            id: v.id.toString()
          }
        })
      }
    },
    async getCities () {
      this.$q.loading.show()
      const state = this.prin ? this.form.state : this.state
      const res = await this.$api.get('cities/' + state)
      this.$q.loading.hide()
      console.log(this.city, this.states, 'city state')
      if (res.success) {
        this.optionsCities = res.states.map(v => {
          return {
            ...v,
            id: v.id.toString()
          }
        })
        if (this.prin) {
          console.log(this.prin, 'prin')
          this.state = this.form.state
          this.city = this.form.city
          this.address = this.form.address
          this.prin = false
        } else {
          this.city = this.optionsCities[0].id
        }
      }
    }
  }
}
</script>

<style>

</style>
